/* Authentication specific styles */
@import url('https://rsms.me/inter/inter.css');

:root {
    --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue,
        sans-serif;
}

.auth-body {
    background: url('../storage/background/background.jpeg') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-feature-settings: "cv03", "cv04", "cv11";
}

.auth-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-center {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 525px;
    margin: 0 auto;
    animation: fadeInUp 0.8s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}